<form name="DefineAllInformationSystem">
    <div class="form-group">
        <style>
            .table{
                border: 1px solid black;
            }
            .tooltip {
                position: relative;
                display: inline-block;
                opacity: 1;
            }

            .tooltip .tooltiptext {
                visibility: hidden;
                width: 120px;
                background-color: #555;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                bottom: 125%;
                left: 50%;
                margin-left: -60px;
                opacity: 1;
                transition: opacity 0.3s;
            }

            .tooltip .tooltiptext::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: #555 transparent transparent transparent;
            }

            .tooltip:hover .tooltiptext {
                visibility: visible;
                opacity: 1;
            }

        </style>
        <script cam-script type="text/form-script">
        <!--<script>-->
            $scope.listInformationSystem = [];

            $scope.addItem = function () {
                $scope.listInformationSystem.push({
                    name: '', url: '', description: '',
                    adminName: '', adminEmail: '', adminTel: ''
                });
            };


            camForm.on('form-loaded', function () {
                camForm.variableManager.createVariable({
                    name: 'listInformationSystem',
                    type: 'json',
                    value: $scope.listInformationSystem
                });
            });






        </script>
        <div>
            <H2>Prosím zadejte Všechny informačí systémy, které vaše organizace používá </H2>
            <div ng-repeat="i in listInformationSystem">
                <table class="table">
                    <tr><td><H3>Informační systém</H3></td><td></td></tr>
                    <tr>
                        <td>Název</td>
                        <td><input cam-variable-name="i.name"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.name"/></td>
                    </tr>
                    <tr>
                        <td>Url</td>
                        <td><input cam-variable-name="i.url"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.url"/></td>
                    </tr>
                    <tr>
                        <td>Popis</td>
                        <td><input cam-variable-name="i.description"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.description"/>
                            <div class="tooltip">
                                <div class="glyphicon glyphicon-question-sign"></div>
                                <span class="tooltiptext">Zde uveďte slengový popis,
                                    ktery se použiva ve firmě</span>
                            </div>
                        </td>
                    </tr>
                    <tr><td><H3>Správce</H3></td><td></td></tr>
                    <tr>
                        <td>Jméno a příjmení</td>
                        <td><input cam-variable-name="i.adminName"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.adminName"/></td>
                    </tr>
                    <tr>
                        <td>Email </td>
                        <td><input cam-variable-name="i.adminEmail"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.adminEmail"/></td>
                    </tr>
                    <tr>
                    <td>Telefon </td>
                        <td><input cam-variable-name="i.adminTel"
                                   cam-variable-type="String"
                                   type="text" ng-model="i.adminTel"/></td>
                    </tr>
                </table>
            </div>
            <button class="btn btn-default" ng-click="addItem()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</form>
